<div id="main-content" class="border my-5">
  <div id="brand-header" class="d-flex justify-content-center align-items-center">
    <div>
      <img id="brand-logo" class="mr-2" src="<%= image_path('icon128.png') %>" width="24" height="24">
      <span id="brand-name">Deep Translator</span>
    </div>
  </div>

  <div class="m-3">
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <p class="alert alert-warning"><%= alert %></p>
    <% end %>

    <div class="form-group mt-5 mb-6">
      <div id="language-title" class="menu-title mb-2">Language</div>
      <select class="form-control" id="language-select">
        <option value="en">English</option>
        <option value="ja">Japanese</option>
      </select>
    </div>

    <div class="form-group mt-5 mb-6">
      <div id="web-store-description" class="mb-2">
        This page is for users of Deep Translator. If you haven't installed Deep Translator yet, please go to the Chrome Web Store and install it.
      </div>
      <a id="web-store-link" class="btn btn-primary" href="<%= store_url %>">Chrome Web Store</a>
    </div>

    <div class="form-group mt-5 mb-6">
      <div id="options-page-description" class="mb-2">
        If you have already installed Deep Translator, you can change the translation settings on the options page.
      </div>
      <a id="options-page-link" class="btn btn-outline-primary" href="<%= options_url %>">Deep Translator Options</a>
    </div>

    <div class="form-group mt-5 mb-6">
      <div id="account-title" class="menu-title mb-2">Account</div>
      <input id="account-email" class="form-control" type="text" placeholder="" disabled>
      <small id="account-help" class="form-text text-muted">
        <% if user_signed_in? %>
          <span class="sign-out-text"><a id="sign-out" href="#">Sign out</a></span>
        <% else %>
          <span class="sign-in-text">A license key will be issued after <a class="sign-in" href="#">signing in</a>.</span>
        <% end %>
      </small>
    </div>

    <div class="form-group mt-5 mb-6">
      <div id="license-key-title" class="menu-title mb-2">License key</div>
      <input id="license-key" class="form-control" type="text" placeholder="Not issued yet" value="<%= @license&.key %>" disabled>
      <small id="license-key-help" class="form-text text-muted">
        <% if user_signed_in? %>
          <span id="enter-license-key-text">Please enter the above key on the <a href="<%= options_url %>">options page</a>.</span>
        <% else %>
          <span class="sign-in-text">A license key will be issued after <a class="sign-in" href="#">signing in</a>.</span>
        <% end %>
      </small>
    </div>

    <hr>

    <div class="form-group mt-5 mb-6">
      <div id="plan-title" class="menu-title mb-2">Plan</div>
      <div class="mb-3">
        <div class="mb-5">
          <% if user_signed_in? %>
            <% if current_user.has_subscription? %>
              <div id="pro-plan-description">You are using the pro version of Deep Translator.</div>
            <% else %>
              <div id="free-plan-description">You are using the free version of Deep Translator.</div>
            <% end %>
          <% else %>
            <div id="visitor-plan-description">In order to use the free version of Deep Translator, please sign in and issue a license key.</div>
          <% end %>
        </div>

        <div class="d-flex justify-content-between">
          <div class="mx-3 w-100">
            <div id="free-plan-name" class="plan-title mb-2">Free</div>
            <div id=free-plan-audience class="mb-5">For hobbyists</div>
            <div id="free-plan-price-amount" class="plan-title mb-2">$0</div>
            <div id="free-plan-price-description" class="text-muted small mb-5">per person, per month, when billed monthly</div>

            <div id="free-plan-features" class="mb-3">Top features:</div>
            <div class="mb-5">
              <div><span class="text-green">&#10003;</span> <span id="free-plan-characters-per-translation" class="small">250 characters per translation</span></div>
              <div><span class="text-green">&#10003;</span> <span id="free-plan-characters-per-month" class="small">10,000 characters per month</span></div>
            </div>
          </div>

          <div class="border-left"></div>

          <div class="mx-3 w-100">
            <div id="pro-plan-name" class="plan-title mb-2">Pro</div>
            <div id="pro-plan-audience" class="mb-5">For business</div>
            <div id="pro-plan-price-amount" class="plan-title mb-2">$5</div>
            <div id="pro-plan-price-description" class="text-muted small mb-5">per person, per month, when billed monthly</div>

            <div id="pro-plan-features" class="mb-3">Top features:</div>
            <div class="mb-5">
              <div><span class="text-green">&#10003;</span> <span id="pro-plan-characters-per-translation" class="small">Unlimited characters per translation</span></div>
              <div><span class="text-green">&#10003;</span> <span id="pro-plan-characters-per-month" class="small">Unlimited characters per month</span></div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <div class="mx-3 w-100">
            <% if user_signed_in? %>
              <button type="button" id="free-plan-button" class="btn btn-primary btn-block disabled" disabled>Get free license</button>
            <% else %>
              <button type="button" id="free-plan-button" class="sign-in btn btn-primary btn-block">Get free license</button>
            <% end %>

            <div class="text-muted small mt-3">
              <% if user_signed_in? %>
                <span id="free-plan-user-help">You already have a license for the free version as you are signed in.</span>
              <% else %>
                <span id="free-plan-visitor-help">You can get a free license by simply <a class="sign-in" href="#">signing in</a>.</span>
              <% end %>
            </div>
          </div>

          <div class="border-left"></div>

          <div class="mx-3 w-100">
            <% if user_signed_in? %>
              <% if @subscription %>
                <button type="button" id="pro-plan-licensee-button" class="btn btn-primary btn-block disabled" disabled>Purchased</button>
              <% else %>
                <button type="button" id="pro-plan-user-button" class="btn btn-primary btn-block btn-checkout">Upgrade</button>
              <% end %>
            <% else %>
              <button type="button" id="pro-plan-visitor-button" class="btn btn-primary btn-block disabled" disabled>Upgrade</button>
            <% end %>

            <% if @subscription %>
              <button type="button" id="pro-plan-cancel-button" class="btn btn-link btn-block text-center cancel-subscription" data-subscription-id="<%= @subscription.id %>">Cancel a subscription</button>
            <% end %>

            <div class="text-muted small mt-3">
              <% if user_signed_in? %>
                <% if @subscription %>
                  <span id="pro-plan-licensee-help">What can I do for you? Please feel free to ask any questions at any time.</span>
                <% else %>
                  <span id="pro-plan-user-help">If you like it, please consider using the pro plan.</span>
                <% end %>
              <% else %>
                <span id="pro-plan-visitor-help">Please <a class="sign-in" href="#">sign in</a> and try the free version before you pay for it.</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>

    <hr>

    <div class="form-group mt-5 mb-6">
      <div id="support-account-title" class="menu-title mb-2">Support account</div>
      <div class="mb-3">If you have any questions, please feel free to ask <a href="https://twitter.com/deeptranslator" target="_blank">@deeptranslator</a></div>
    </div>

    <div class="form-group mt-5 mb-6">
      <div id="privacy-policy-title" class="menu-title mb-2">Privacy policy</div>
      <ul>
        <li>No personally identifiable information will be collected.</li>
        <li>All data sent for translation will be used only for the purpose of translation.</li>
        <li>All data sent for translation will not be shared with third parties.</li>
      </ul>
    </div>

    <div class="form-group mt-5 mb-6">
      <div id="terms-of-service-title" class="menu-title mb-2">Terms of service</div>
      <ul>
        <li>By using this site, you agree to the Terms of Service and Privacy Policy.</li>
        <li>Use of this site is at your sole risk. All services are provided "as is," without any warranty of any kind.</li>
        <li>All sales are final in the purchase of this item, no refunds are available.</li>
      </ul>
    </div>

  </div>
</div>
